/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.debug {
  background-color: rgba(50, 72, 152, 0.3);
}
main {
  width: 100%;;
}
/* general */
/* left-bar */
.left-bar, .right {
  height: calc(100vh - 90px);
}
.left-bar {
  max-width: 150px;
}
.logo-img{
  width: 40px;
  height: 40px;
  background-color: aqua;
}
.logo-text {
  font-size: 30px;
}
.left-bar-menu {
  margin-top: 50px;
}
.left-bar-menu .icon {
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  margin: 10px;
}
.left-bar .playlist {
  width: 150px;
  overflow: auto;
  height: calc(100vh - 320px);
} 
/* /left-bar */
/* main-right */
.right {
  width: 100%;
  overflow: auto;
}
.top-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
}
.main-container {
  margin-top: 80px;
}
.main-container nav ul li {
  list-style: none;
  padding: 18px;
}
.right .col {
  width: calc(100% / 6);
  height: 300px;
  /* height: 10vw;
  min-width: 100px;
  min-height: 100px; */
  background-color: red;
  border: 1px solid black;
}
/* /main-right */
/* bottom-bar */
.bottom-bar {
  width: 100%;
  height: 90px;
}
/* /bottom-bar */



/* RESPONSIVE */
@media screen and (max-width:992px) {
  .right .col {
    width: calc(100% / 4);
  }
}
@media screen and (max-width:768px) {
  .right .col {
    width: calc(100% / 2);
  }
}
@media screen and (max-width:576px) {
  .left-bar .logo-text,
  .left-bar .text,
  .left-bar .playlist,
  .left-bar .user {
    display: none;
  }
  .left-bar .col {
    margin-top: -2px;
  }
  .left-bar .logo-img {
    width: 30px;
    height: 30px;
  }
  .left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-bar-menu {
    margin-top: 5px;
  }
}
