/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #6f6f6f;
  /* background-color: black; */
}
.debug {
  background-color: rgba(30, 144, 255, 0.3);
}
h2, h3 {
  color: white;
}
.left-bar, .bottom-bar {
  background-color: black;
}
.left-bar, .right {
  height: calc(100vh - 90px);
}
.bar {
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 10px;
}
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
main {
  width: 100%;;
}
/* general */
/* left-bar */
.left-bar {
  max-width: 250px;
  padding: 20px;
  font-size: 14px;
}
/* logo */
.logo-img{
  width: 40px;
  height: 40px;
}
.logo-text {
  font-size: 26px;
  color: white;
  font-weight: 700;
  margin-left: 5px;
}
/* logo */
/* menu */
.left-bar-menu .row {
  margin: 20px 0;
}
.left-bar-menu .col {
  cursor: pointer;
}
.left-bar-menu .icon {
  width: 28px;
  height: 28px;
  margin: 5px 0;
}
.left-bar-menu .icon,
.playlist .cover,
.user .img,
.user .avatar {
  margin-right: 8px;
} 
/* menu */
.left-bar .playlist {
  width: 190px;
  overflow: auto;
  height: calc(100vh - 400px);
} 
.left-bar .new-playlist .cover {
  width: 40px;
  height: 40px;
  background-color: #6f6f6f;
}
.left-bar .new-playlist .cover i {
font-size: 30px;
color: black;
}
.playlist span {
  display: block;
  padding: 8px 0;
}
.new-playlist {
  padding: 10px 0;
}
/* user */
.user {
  height: 80px;
  flex-direction: column;
  padding: 5px;
}
.img > img {
  width: 100%;
  height: 100%;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7f7f7f;;
}
.user .install-app .img {
  width: 15px;
  height: 15px;
}
.line {
  height: 1px;
  width: 100%;
  margin: 13px 0px;
  border: 1px solid #7f7f7f;;
}
/* /user */
/* /left-bar */
/* main-right */
.right {
  width: 100%;
  overflow: auto;
  background-color: #141923;
}
.top-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.main-container {
  margin-top: 80px;
  padding: 0 20px;
}
nav {
  margin-bottom: 40px;
}
.right h2 {
  margin: 5px 10px; 
}
.main-container > span {
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}
/* menu */
.main-container nav ul li {
  list-style: none;
  padding: 18px;
}
.main-container nav ul li a {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #6f6f6f;
}
/* /menu */
/* cards */
.right .col {
  width: calc(100% / 6);
}
img {
  max-width: 100%;
}
.card-img {
  position: relative;
}
.card {
  padding: 10px;
  margin-bottom: 50px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 44;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.overlay i {
  font-size: 100px;
  color: white;
}
.card:hover .overlay {
  opacity: 0.7;
}
.card-text {
  flex-direction: column;
}
.card-text h3 {
  margin: 10px 0;
}
.card-text h3 {
  font-size: 16px;
}
.card-text span {
  font-size: 14px;
}
.popular .card-img {
  border-radius: 50%;
  overflow: hidden;
}
/* /cards */
/* /main-right */
/* bottom-bar */
.bottom-bar {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
.bottom-bar > div {
  width: calc(100% / 3);
  height: 100%;
}
/* left-player */
.bottom-bar {
  color: white;
}
.bottom-bar .left-player {
  padding: 19px 9px;
}
.left-player img {
  width: 45px;
  margin-right: 15px;
}
.left-player .txt {
  margin-right: 20px;
}
.left-player h4 {
  font-size: 12px;
}
.left-player span {
  font-size: 10px;
  margin-right: 5px;
  color: #878787;
}
.left-player .icons-box {
  display: flex;
}
.icons-box .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* /left-player */
/* player */
.bottom-bar .player {
  flex-direction: column;
}
.buttons {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.player .player-top {
  width: 210px;
  height: 50%;
  margin: 0 auto;
}
.buttons button {
  background: none;
  border: none;
}
.player-top button i {
  font-size: 20px;
  color: white;
}
.player-top button:hover i {
  color: #adff30;
  cursor: pointer;
}
.player-top .play {
  font-size: 35px;
}
.player .player-bottom {
  width: 100%;
  height: 50%;
}
.player-bottom .bar {
  width: 85%;
}
.player-bottom span {
  font-size: 10px;
}
/* player */
.bottom-bar .controls {
  background-color: rgb(67, 18, 18);
}
/* /bottom-bar */



/* RESPONSIVE */
@media screen and (max-width:1140px) {
  .right .col {
    width: calc(100% / 4);
  }
@media screen and (max-width:968px) {
  .right .col {
    width: calc(100% / 2);
  }
  .left-player .icons-box {
    display: block;
  }
}
@media screen and (max-width:576px) {
  .left-bar .logo-text,
  .left-bar .text,
  .left-bar .playlist,
  .left-bar .user {
    display: none;
  }
  .left-bar .col {
    margin-top: -2px;
  }
  .left-bar .logo-img {
    width: 30px;
    height: 30px;
  }
  .left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .left-bar-menu {
    margin-top: -10px;
    margin-left: 7px;
  }
}